<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img src="assets/img/Henry Team Rockstars Profile Pic 2023.jpg" alt="" class="img-fluid rounded-circle" />
      <h1 class="text-light"><a href="#" (click)="scrollToTop()">Henry Langenhoven</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://github.com/henrylangenhoven" target="_blank" class="bi-github"> </a>
        <a href="https://www.linkedin.com/in/henry-langenhoven/" target="_blank" class="bi-linkedin"> </a>

        <a href="https://stackoverflow.com/users/4059567/henry-langenhoven" target="_blank" class="bi-stack-overflow">
        </a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li *ngFor="let link of links">
          <a href="{{ link.url }}" class="nav-link scrollto" [ngClass]="{ active: isRouterLinkActive(link.url) }">
            <i class="bx" [ngClass]="link.icon"></i>
            <span>{{ link.name }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
