<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p>
        {{ about?.topParagraph }}
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img [src]="about?.profileImageUrl" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{ about?.role }}</h3>
        <div class="row">
          <div class="col-lg-5">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>City:</strong>
                <span>{{ about?.city }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>From:</strong> <span>{{ about?.from }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                <span id="myAge">{{ getAge() }}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-7">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Degree:</strong>
                <span>{{ about?.degree }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Employment:</strong> <span>{{ about?.employment }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Workplace:</strong> <span>{{ about?.workplace }}</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          {{ about?.bottomParagraph }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
