<!-- ======= Resume Section ======= -->
<section #resume id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        <!--              TODO-->
        <!--              Magnam dolores commodi suscipit. Necessitatibus eius consequatur-->
        <!--              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam-->
        <!--              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.-->
        <!--              Quia fugiat sit in iste officiis commodi quidem hic quas.-->
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor Degree of Computing</h4>
          <h5>2012 - 2016</h5>
          <p>
            <em> Belgium Campus iTversity </em>
            <br />
            <em> 138 Berg Ave, Heatherdale AH, Akasia, 0182, South Africa </em>
          </p>
          <p>
            The Bachelor of Computing degree offers essential computing skills for troubleshooting and problem-solving,
            integrating theories into real-world environments. It provides theoretical knowledge with practical
            assignments and projects aligned with industry practices, fostering business-specific and soft skills such
            as communication, teamwork, and teaching abilities. The program includes a fourth-year internship and
            culminates in conducting academic research and presenting a formal dissertation.
          </p>
        </div>
        <div class="resume-item">
          <h4>National Senior Certificate</h4>
          <h5>2009 - 2011</h5>
          <p>
            <em>Die Hoërskool Wonderboom</em>
            <br />
            <em> 1050 Steve Biko Rd, Wonderboom, Pretoria, 0084, South Africa </em>
          </p>
          <p>
            The National Senior Certificate or NSC is a high school diploma and is the school-leaving certificate in
            South Africa. This certificate is commonly known as the matriculation (matric) certificate, as grade 12 is
            the matriculation grade.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h2 class="resume-title">Professional Experience</h2>
        <div class="resume-item">
          <h3>Senior Software Engineer</h3>
          <h4>Team Rockstars IT · Full-time</h4>
          <h5>Aug 2023 - Present</h5>
          <p><em>'s-Hertogenbosch, Netherlands · Hybrid</em></p>
          <p></p>
          <ul>
            <li>Started a new position at Team Rockstars IT. More info to follow soon.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h3>Senior Software Engineer</h3>
          <h4>Capgemini · Full-time</h4>
          <h5>Mar 2021 - Jul 2023</h5>
          <p><em>Utrecht, Netherlands · Hybrid</em></p>
          <p></p>
          <ul>
            <li>
              Relocated to the Netherlands for an international software career at Capgemini as a Senior Software
              Engineer.
            </li>
            <li>Adapted to remote work during the Covid pandemic, continuing in a hybrid and remote capacity.</li>
            <li>Achieved proficiency in speaking Dutch while working remotely.</li>
            <li>
              Assigned to UWV, the Dutch government's Employee Insurance Agency, as an initial developer on a system
              modernization project, gaining leadership skills and assuming managerial responsibilities.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h3>Software Engineer</h3>
          <h4>Entelect · Full-time</h4>
          <h5>Feb 2017 - Feb 2021</h5>
          <p><em>Gauteng, South Africa · Hybrid</em></p>
          <p></p>
          <ul>
            <li>
              Transitioned from Java developer to software consulting as a software engineer after two years at Online
              Intelligence.
            </li>
            <li>
              Worked at Discovery, a healthcare industry client, developing and delivering full stack software
              solutions.
            </li>
            <li>
              Promoted to Intermediate Software Engineer, taking on leading roles and participating in company-wide
              knowledge sharing initiatives.
            </li>
            <li>
              Developed leadership and project management skills, making a greater impact on the team, projects, and
              client, while improving colleagues' technical abilities.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h3>Java Developer</h3>
          <h4>Online Intelligence · Full-time</h4>
          <h5>Jan 2015 - Jan 2017</h5>
          <p><em>Gauteng, South Africa · On-site</em></p>
          <p></p>
          <ul>
            <li>
              Started full-time work as a Java developer while pursuing a bachelor's degree, focusing on an in-house
              Risk Management solution using Java, JavaScript, HTML, CSS, and SQL Server.
            </li>
            <li>
              Provided support, bug fixes, and delivered new full-stack solutions, experiencing the gratification of
              positively impacting people's livelihoods and safety.
            </li>
            <li>
              Developed skills in software development, database design, troubleshooting, and effectively communicating
              technical concepts to non-technical stakeholders.
            </li>
            <li>
              Gained a solid foundation for building reliable software solutions through the experience as a Java
              developer.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
