<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p>
        {{ (about | async)?.topParagraph }}
      </p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img [src]="(about | async)?.profileImageUrl" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{ (about | async)?.role }}</h3>
        <div class="row">
          <div class="col-lg-5">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>City:</strong>
                <span>{{ (about | async)?.city }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>From:</strong> <span>{{ (about | async)?.from }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                <span id="myAge">{{ (about | async)?.age }}</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-7">
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Degree:</strong>
                <span>{{ (about | async)?.degree }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Employment:</strong> <span>{{ (about | async)?.employment }}</span>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <strong>Workplace:</strong> <span>{{ (about | async)?.workplace }}</span>
              </li>
            </ul>
          </div>
        </div>
        <p>
          {{ (about | async)?.bottomParagraph }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
